*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.navbar{
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.logo #logo_img{
    width: 70px;
    margin: 8px 0 8px 12px;
}
header .logo .Logo_title{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-left: 5px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
.navbar ul li:last-child{
    margin-right: 10px;
}
.navbar ul li a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    transition: all 0.3s linear;
}
.navbar ul li a:hover{
    color:rgb(51, 153, 236);
}
.container{
    margin-bottom: 100px;
}
.background{
    z-index: -1;
    top: 86px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header_title{
    font-style: 24px;
    font-weight: 800;
    padding: 40px 0;
    position: relative;
    text-align: center;
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 30px;
}
.body_content{
    width: 30%;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: justify;
    border: 2px solid #333 ;
    padding: 30px 20px;
    border-radius: 10px;
}
.body_image{
    margin-top: 10px;
    object-fit: contain;
    height: 100%;
    position: relative;
}
section .btn{
   margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.btn button{
    padding: 20px 30px;
    background: transparent;
    color: #000;
    border: 2px solid #333;
    outline: none;
    font-size: 1rem;
    margin: 0 50px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
     rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.btn button::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
    background: rgb(79, 151, 233);
    transition: width 0.4s linear 0s;
}
.btn button:hover::before{
    width: 100%;
}
footer{
    padding: 50px 0;
    text-align: center;
    position: relative;
    background: #eee;
}
footer .contact h3{
    margin-bottom: 5px;
    font-size: 1rem;
}
.contact p{
    font-size: 1rem;
    font-weight: 400;
}

/* === kanto === */
.pokemon{
    margin-top: 100px;
    margin-bottom: 50px;
}
.pokemon_heading{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 50px;
    letter-spacing: 1px;
    position: relative;
    
}
.pokemon_heading::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: #000;
    left: 40%;
    bottom: 0;
}
.pokemon_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px ;
    padding: 30px;
}
.pokemon_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    height: 400px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.poke__img{
    object-fit:contain;
    width: 80%;
    height: 300px;
    border-radius: 10px;  
    flex-shrink: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.poke__content{
    margin-top: 5px;
    flex: 1;
    line-height: 24px;
    
}
.poke__name{
    font-size: 24px;
    font-weight: 500;
}
.poke__munber{
    font-size: 18px;
    font-weight: 400;
}
.poke__type{
    font-size: 18px;
    font-weight: 400;
}
.grass{
    background-color: rgb(113, 243, 113);
    color: rgba(2, 41, 2, 0.781);
}
.water{
    background-color: rgb(59, 171, 236);
    color: rgb(5, 49, 90);
}
.fire{
    background-color: rgb(235, 80, 106);
    color: rgb(63, 3, 3);
}
.elec{
    background-color: rgb(200, 219, 27);
    color: rgb(89, 95, 7);
}
.other{
    background-color: rgb(150, 146, 146);
}
.Psy{
    background-color: rgb(243, 118, 237);
    color: rgb(73, 6, 70);
}
.type{
    border: none;
    border-radius: 2px;
    padding: 2px;
    outline:none;
    color: #eee;
}
.poke_grass{
    background-color: rgb(15, 139, 15);
}
.poke_water{
    background-color: rgb(13, 96, 129);
}
.poke_fire{
    background-color: rgb(177, 15, 29);
}
.poke_posi{
    background-color: rgb(93, 11, 201);
}
.poke_fly{
    background-color: rgb(93, 11, 201);
}
.poke_elec{
    background-color: rgb(128, 141, 11);
}
.poke_dra{
    background-color: rgb(45, 166, 236);
}
.poke_nor{
    background-color: rgb(71, 56, 56);
}
.poke_psy{
    background-color: rgb(224, 31, 215);
}
.poke_ground{
    background-color: rgb(168, 150, 150);
}

/* character */
.container__char{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__char .img_con{
    width: 50%;
    position: absolute;
    top:100px;
    outline: none;

}
